*{
    margin: 0;
}
nav{
    background-color: #000;
    color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Optional: Set minimum height for viewport */
    margin: 0; /* Remove default margin */
  }
  