*{
    margin: 0;
}
nav,
footer{
    text-align: center;
    background-color: #000;
    color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
  }